body {
 
}

.navbar {
  margin-bottom: 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.picturepanel {
	padding-left: 0px;
	padding-right: 0px;
}

.album {
	margin-top: 3rem;	
}