body 
{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	height: 100%; 
}

.bg-black
{
	background-color: black;
}

h1
{
	font-weight: 100;
}

.navbar 
{
  margin-bottom: 0;
}

#site-title
{
	margin-top: 20%;
}

.picturepanel 
{
	padding-left: 0px;
	padding-right: 0px;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.picturepanel:hover .overlay 
{
    opacity: 0.8;
}
  
.overlay 
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000;
}

.text 
{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.album 
{
	margin-top: 3rem;	
}

.navbar 
{
	font-family: 'Barlow Condensed', sans-serif;
}

.abstract 
{
	padding-top: 1em;
	font-family: 'Barlow Condensed', sans-serif;
}

.abstract_content 
{
	padding-top: 0em;
	font-size: 0.857em;
	padding-right: 2em;
}

.mid_content 
{
	padding-top: 5em;
	padding-left: 3em;
	padding-right: 3em;
	font-size: 0.857em;
}

.right_border_mid_content 
{
	padding-right: 3em;
}

.right_content 
{
	padding-top: 5em;
	font-size: 0.857em;
}


.dropdown-item:hover 
{
	background-color: #343A40 ;
	color: white;
}

/*added to remove bullets from report references*/
li
{
	list-style-type: none;
} 

@media (min-width: 768px)
{
  #report-right 
  {
    position: absolute;
    top: 20%;
    bottom: 0;
    right: 0;
    width: 75%;
    overflow-y: scroll; 
  }
  
  #report-left 
  {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    width: 25%;
  }
}

#report-right 
{
  height: 80%;
}

#report-left 
{
  height: 80%;
}

#report-right p
{
	font-size: 0.7em;
}

figcaption
{
	font-size: 0.7em;
}

.hanging-indent p
{
	padding-left: 20px;
	text-indent: -20px;
}
