

body {
 
}

.navbar {
  margin-bottom: 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.picturepanel {
	padding-left: 0px;
	padding-right: 0px;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.picturepanel:hover .overlay {
      opacity: 1;
      }
      
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.album {
	margin-top: 3rem;	
}

.navbar{
	font-family: 'Barlow Condensed', sans-serif;
}

.abstract{
	padding-top: 1em;
	font-family: 'Barlow Condensed', sans-serif;
}

.abstract_content{
	padding-top: 0em;
	font-size: 0.857em;
	padding-right: 2em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	border-right: 1px solid #666;


}
.mid_content{
	padding-top: 5em;
	padding-left: 3em;
	padding-right: 3em;
	font-size: 0.857em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	
}

.right_border_mid_content{
	border-right: 1px solid #666;
	padding-right: 3em;
}

.right_content{
	padding-top: 4em;
}

.figure-caption{
	font-size: 0.857em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

}