

.album {
  
  background-color: #f7f7f7;
}


footer {
  margin-top: 2rem;
 
}

footer p {
 
}

.picturepanel {
  padding-bottom: 1em;

}

.soundscape_header{
  font-size: 3em;
  color:green;
}

.content_section{
  padding-top: 2rem;
}